In [3]:
import pandas as pd 
import numpy as np

In [4]:
# la diferencia con el merge es que va a ir por los indices 
# del dataframe no a columnas especificas

In [5]:
izq = pd.DataFrame({'A': ['A0','A1','A2'],
  'B':['B0','B1','B2']},
  index=['k0','k1','k2'])

der =pd.DataFrame({'C': ['C0','C1','C2'],
  'D':['D0','D1','D2']},
  index=['k0','k2','k3'])

In [7]:
# de esta manera se unen por los indices 
# puedes poner how = rigth left inner o outer 
izq.join(der,how = 'outer')

      A    B    C    D
k0   A0   B0   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3  NaN  NaN   C2   D2