In [12]:
import pandas as pd

In [13]:
# pd.Series([ columna de tus datos], 
# index = [la caracteristica con la que los quieres identificar])
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [14]:
# si no pones index se les asigna un valor predeterminado
pd.Series(['Navas','Mbappe','Neymar','Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [15]:
# otra manera de definir sin el index es atravez de un diccionario 
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [16]:
# aqui no buscas por posicion buscas por el index 
psg_players[30]

'Messi'

In [18]:
# si no hay index buscas por posicion 
psg_players_2 = pd.Series(['Navas','Mbappe','Neymar','Messi'])

In [19]:
psg_players_2[:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [20]:
# aqui tenemos 3 dimensiones distintas 
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
        'Altura':[183.0, 170.0, 170.0, 163.0],
        'Goles':[2, 200, 150, 500]}

In [21]:
# pones los index que quieras 
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    150
30   Messi   163.0    500

In [29]:
df_players = pd.DataFrame(dict)

In [27]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [28]:
df_players.index

RangeIndex(start=0, stop=4, step=1)

In [32]:
dict_2 = {'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],

'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'Número':[9, 23, 10, 6, 5, 1],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

'Goles':[7, 7, 5, 2, 2, 0]}

In [37]:
pd.DataFrame(dict_2,index = [10,20,30,40,50,60])

                          Jugador        Posición  Número  Altura  Goles
10                    Luis Suárez       Delantero       9   185.0      7
20                   Jorge Molina       Delantero      23   187.0      7
30                Antonio Puertas  Centrocampista      10   185.0      5
40                 Germán Sánchez         Defensa       6   187.0      2
50                     Luis Milla  Centrocampista       5   175.0      2
60  Luís Manuel Arantes Maximiano         Portero       1   190.0      0